<header>
    <mat-toolbar color="primary" class="main-toolbar">
        <span class="material-icons">shopping_cart</span>
        <strong class="brand">Cart.Net</strong>
        <span class="example-spacer"></span>
        <button mat-icon-button [routerLink]="['cart']" class="cart-btn">
            <span class="material-icons">shopping_basket</span>
        </button>
    </mat-toolbar>
</header>

<div class="product-grid">
    <mat-card class="product-card" *ngFor="let item of myItems">
        <img mat-card-image [src]="item.image" class="product-img">
        <mat-card-content>
            <p class="supplier-tag">Random Supplier</p>
            <h3 class="product-name">{{ item.itemName }}</h3>
            <strong class="product-price">RM {{ item.price }}</strong>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="accent" class="add-btn" (click)="addToCart(item)">
                Add to Cart
            </button>
        </mat-card-actions>
    </mat-card>
</div>