<p>checkout works!</p>
<div class="paytime">
    <form>
    <mat-form-field class="example-full-width">
        <mat-label>Address</mat-label>
        <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
      </mat-form-field>
    </form>
    <h1>Please Select Bank</h1>
    <mat-form-field>
        <mat-label>Select</mat-label>
        <mat-select>
          <mat-option value="one">Maybank</mat-option>
          <mat-option value="two">Bank Islam</mat-option>
          <mat-option value="three">BSN</mat-option>
          <mat-option value="four">CIMB</mat-option>
        </mat-select>
      </mat-form-field>
</div>

